<%= form_for([@overdraft.employee, @overdraft]) do |f| %>
  <% if @overdraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overdraft.errors.count, "error") %> prohibited this overdraft from being saved:</h2>

      <ul>
      <% @overdraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <%= f.label :plazo %><br />
    <%= f.text_field :plazo %>
  </div>
  <div class="field">
    <%= f.label :tipo_plazo %><br />
    <%= f.text_field :tipo_plazo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
